.container{
    text-align: center;
    margin-top: 2%;
 
}
 #color-box{
    width: 500px;
    height: 500px;
    background-color: rgb(107, 190, 238);
    margin-left: 30%;


}
#change-color-btn{
    margin-top: 2%;
    font-size: 200%;
    font-weight: 300%;
    margin-left: 30%;
    color: rgb(71, 77, 77);
}